{# src/Blogger/BlogBundle/Resources/views/Blog/inicio.html.twig #}
{% extends "::layout.html.twig" %}

{% block javascripts %} 
{{parent()}}
<script src ="/js/scriptInicio.js" type="text/javascript"></script>


 
{% endblock %}


{% block body %}

 <article class="categoria">



       
 {% for categoria in categorias %}
       
          
  <h4><a class= "cat" href="{{ path('blogger_blog_show_categoria', { 'id': categoria.id }) }}">{{categoria.nombre}}</a></h4>
                 
  <p> Esta categoria tiene {{categoria. getNumOfVideos}} video(s): </p> 
                  {% set num = 0 %}
      <div class="single-item">      	
    {% for video in videos %}
                          
    	{%if (video.categoria.id == categoria.id) %}
                     
          {%if ( num<3 ) %}
             {% set num = num + 1 %}
        <div>   
             <div class="date"><p><time datetime="{{ video.date|date('c') }}">{{ video.date|date('l, F j, Y') }}</time></p></div>

             <h2><a href="{{ path('blogger_blog_show', { 'id': video.id }) }}"> {{ video.titulo }}</a></h2>

             <br><iframe width="250" height="158" src="{{video.link}}" allowfullscreen></iframe><br>

        </div>
				{% endif %}
      {% endif %}

    {% endfor %}	
     </div>
      <p class="continue"><a href=" {{ path('blogger_blog_show_categoria', { 'id': categoria.id }) }}">Ver más...</a></p>
 			

{% endfor %}



      </article>
           
{% endblock %} 

