{# src/Blogger/BlogBundle/Resources/views/Blog/inicio.html.twig #}
{% extends "::base.html.twig" %}


{% block body %}

 {% for categoria in categorias %}
        <article class="categoria">
       
           
           
            	<h4>{{categoria.nombre}}</h4>

                  {% set num = 0 %}
            	{% for video in videos %}
                             

            		{%if (video.categoria.id == categoria.id) %}
                       
                        {%if ( num<2 ) %}
                              {% set num = num + 1 %}

            		    <div class="date"><time datetime="{{ video.date|date('c') }}">{{ video.date|date('l, F j, Y') }}</time></div>

            		    <h2><a href="{{ path('blogger_blog_show', { 'id': video.id }) }}">{{ video.titulo }}</a></h2>


				{% endif %}
                        {% endif %}

                   
                        
				{% endfor %}	
                        <p class="continue"><a href=" {{ path('blogger_blog_show_categoria', { 'id': categoria.id }) }}">Ver más...</a></p>
 			

{% endfor %}
           
{% endblock %} 