{# src/Blogger/BlogBundle/Resources/views/Blog/list_plataformas.html.twig #}
{% extends "::base.html.twig" %}
{% block title %}Lista de Plataformas {% endblock %}

{% block body %}

    <h4>Plataformas</h4>
    
    {% for plat in plats %}
        <article class="plataforma">

            <header>
                <h2><br>{{plat.nombre}}</br></h2>
               <br><img src="{{asset(plat.imagen) }}" alt="imagen" /></br>
               
               <p>Esta plataforma contiene {{plat.getNumberofVideos }} videos</p>

            </header>
         
    {% for video in plat.videos %}
               <ul>
               <li type="circle"><a href="{{ path('blogger_blog_show', { 'id': video.id }) }}"> {{ video.titulo }}</a></li>
               </ul>
    {% endfor %}

           
        </article>


          <hr></hr>
    
    {% else %}
        <p>No hay entradas en este blog</p>
    {% endfor %}
{% endblock %}