{# src/Blogger/BlogBundle/Resources/views/Blog/list_plataformas.html.twig #}
{% extends "::layout.html.twig" %}
{% block title %}Lista de Plataformas {% endblock %}

{% block body %}
  <article class="plataforma">
    <h4>Plataformas</h4>
    
    {% for plat in plats %}
        
        <h2>{{plat.nombre}}<br></h2>
        <img src="{{asset(plat.imagen) }}" alt="imagen" /><br>
               
        <p>Esta plataforma contiene {{plat.getNumberofVideos }} videos</p>

        
         
    {% for video in plat.videos %}
        <ul>
        <li><a href="{{ path('blogger_blog_show', { 'id': video.id }) }}"> {{ video.titulo }}</a></li>
       </ul>
    {% endfor %}

           
       


          <hr>
    
    {% else %}
        <p>No hay entradas en este blog</p>
    {% endfor %}
    </article>
{% endblock %}