{# src/Blogger/BlogBundle/Resources/views/Blog/show.html.twig #}
{% extends "::layout.html.twig" %}

{% block javascripts %} 
  <script src ="/js/jquery.js" type="text/javascript" ></script>
  <script src ="/js/scriptShow.js" type="text/javascript" ></script>
  <script src ="/js/jquery.qtip-1.0.0-rc3.min.js" type="text/javascript" ></script>


{% endblock %}




{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}


	
{% block body %}
	<h4>Informacion sobre el video</h4>
	
		
		<h2>{{ video.titulo }}</h2>
		<h2><a href="{{ path('blogger_blog_show_categoria', { 'id': categoria.id }) }}"> Categoria:{{ categoria.nombre }}</h2><br>
		<h3>{{ video.cantante }}</h3>
		<h3>{{ video.date|date('d-m-Y') }}</h3>

		

		<p>Este video esta disponible en {{video.getNumberofPlataformas }} plataformas :</p>
		       
    {% for plataforma in video.plataformas %}
               <ul>
               <li><a href="{{ path('blogger_blog_list_plat', { 'id': plataforma.id }) }}"> {{ plataforma.nombre }}</a></li>
               </ul>
    {% endfor %}




	<br><iframe width="500" height="280" src="{{video.link}}" allowfullscreen></iframe><br>

		

<a href="{{ path('blogger_like_create', { 'video_id': video.id }) }}"><img id="megusta" src="{{asset('icon/liike.png') }}" alt=" like"/></a><br>


<h3> Tiene {{megusta}}s "me gustas"</h3><br>

 <pre>{{ video.letra}}</pre><br>

<hr>

 <section class="comentarios" >
			<section class="previous-comentarios">
				<h3>Comentarios</h3>
				{% include 'BloggerBlogBundle:Comentario:list.html.twig' with { 'comentarios': comentarios } %}
			</section>
		</section>

		<section class="comentarios">
			<section class="previous-comentarios">
				 <h3>Añadir comentario</h3>
		        {{ render(controller( 'BloggerBlogBundle:Comentario:new', { 'video_id': video.id } )) }}
		    </section>
		</section>

{% endblock %}




	
			
