{# src/Blogger/BlogBundle/Resources/views/Blog/show.html.twig #}
{% extends "::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/blog.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}


	
{% block body %}
	<h4>Informacion sobre el video</h4>
	<ul>
		
		<li><h2>{{ video.titulo }}</h2></li>
		<li><h3>{{ video.cantante }}</h3></li>
		<li><h3>{{ video.date|date('d-m-Y') }}</h3></li>

		<li><h3> Categoria:{{ categoria.nombre }}</h3></li>

	<iframe width="500" height="280" src="{{video.link}}" frameborder="0" allowfullscreen></iframe>

		

<br><a href="{{ path('blogger_like_create', { 'video_id': video.id }) }}"><img src="{{asset('icon/liike.png') }}" alt=" like"/><a></br>


 <br><h3> Tiene {{megusta}}s "me gustas"<a></h3>

 <br><li><pre>{{ video.letra}}</pre></li></br>

<hr><hr>

 <section class="comentarios" id="comentarios">
			<section class="previous-comentarios">
				<h3>Comentarios</h3>
				{% include 'BloggerBlogBundle:Comentario:list.html.twig' with { 'comentarios': comentarios } %}
			</section>
		</section>

		<section class="comentarios" id="comentarios">
			<section class="previous-comentarios">
				 <h3>Añadir comentario</h3>
		        {{ render(controller( 'BloggerBlogBundle:Comentario:new', { 'video_id': video.id } )) }}
		    </section>
		</section>

		
		


{% endblock %}


	
			
