{# src/Blogger/BlogBundle/Resources/views/Blog/show_categoria.html.twig #}
{% extends "::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}

{% endblock %}


	
           
{% block body %}

	<h4>{{categoria.nombre}}</h4>
	
		{% for video in videos %}
                             

            		{%if (video.categoria.id == categoria.id) %}
                       


            		    <div class="date"><time datetime="{{ video.date|date('c') }}">{{ video.date|date('l, F j, Y') }}</time></div>

            		    <h2><a href="{{ path('blogger_blog_show', { 'id': video.id }) }}">{{ video.titulo }}</a></h2>

            		     {% endif %}


                   
       	{% endfor %}	
 		<p> Esta categoria tiene {{categoria. getNumOfVideos}} video(s)</p>	



{% endblock %}

	
			
