{# src/Blogger/BlogBundle/Resources/views/Blog/show.html.twig #}
{% extends "::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}


	
{% block body %}
	<h4>Informacion sobre el video</h4>
	<ul>
		
		<li><h2>{{ video.titulo }}</h2></li>
		<li><h2>{{ video.cantante }}</h2></li>
		<li><h2>{{ video.date|date('d-m-Y') }}</h2></li>

		<li><pre>{{ video.letra}}</pre></li>

		<li><h2> Categoria:{{ categoria.nombre }}</h2></li>

		<<iframe width="560" height="315" src="{{video.link}}" frameborder="0" allowfullscreen></iframe>



<a href="{{ path('blogger_like_create', { 'video_id': video.id }) }}"><span class="logo_colour"><img src="{{asset('icon/insta.png') }}" alt=" like" /></span></a>


 <h3> Tiene {{megusta}}s "me gustas"

{% endblock %}

	
			
