<!DOCTYPE html>
<!-- app/Resources/views/base.html.twig -->
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} Proyecto{% endblock %} - Todo Video</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
         
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
            <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
            <link href="{{ asset('css/screen_11.css') }}" type="text/css" rel="stylesheet" />
           <link href="{{ asset('css/slick-theme.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/slick.min.css') }}" type="text/css" rel="stylesheet" />


            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <section id="wrapper">
            <header id="header">
                <div class="top">
                    {% block navigation %}
                        <nav>
                            <ul class="navigation">
                                <li><a href="{{ path('blogger_blog_init')}}">Inicio</a></li>
                                <li><a href="{{ path('blogger_blog_list')}}">Todos los videos</a></li>
                                <li><a href="{{ path('blogger_blog_list_plat')}}">Plataformas</a></li>
                                <li><a href="{{ path('blogger_blog_contact')}}">Contacto</a></li>

                            </ul>
                        </nav>
                    {% endblock %}
                </div>

              
                    <h2>{% block blog_title %}TopVideo{% endblock %}</h2>
                    <h3>{% block blog_tagline %}toda la información sobre tus videos favoritos{% endblock %}</h3>
          
            </header>

            <section class="main-col">
                {% block body %}{% endblock %}
            </section>
            <aside class="sidebar">
                {% block upsidebar %} {% endblock %}
                {% block sidebar %} {% endblock %}
            </aside>

            <div id="footer">
                {% block footer %}
                    Blog en Symfony2 - creado por <a href=" ">Josune Ordoñez y Andrea Morillas</a>
                {% endblock %}
            </div>
        </section>

        {% block javascripts %}
    <script src ="/js/jquery-2.2.min.js" type="text/javascript" ></script>
    <script type="text/javascript" src="/js/jquery.pin.min.js"></script>
    <script src ="/js/slick.min.js" type="text/javascript" ></script>
    <script type="text/javascript" src="/js/scriptBase.js"></script>
    

 {% endblock %}
    </body>
</html>
