{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}



 {% block javascripts %}
 {{parent()}}
<script src ="/js/scriptSideBar.js" type="text/javascript" ></script>
  

 {% endblock %}


{% block upsidebar %}

<div class= "ventanas">

<h3 id= "primeralinea"><span><a href="{{ path('blogger_blog_init')}}">Inicio</a></span></h3>
<h3><span>Plataformas</span></h3>
<h3><span>Todos los videos</span></h3>
<h3><span>Contacto</span></h3>


</div>
 
{% endblock %}


{% block sidebar %}

<article class="ranking">

<h2><strong> Ranking de los videos con más likes: </h2>

 {% set num = 1 %}

{% for m in likes %}
				<ol>
        {% for video in videos %}
            {% if m.1 == video.id  %}  
            	
                 <li value={{num}}><a href="{{ path('blogger_blog_show', { 'id': video.id }) }}">{{ video.titulo}}</a> con {{m.total}} me gustas </li>
                 </ol>
                
               {% set num = num +1 %}
            {% endif %}
        {% endfor %}

    {% endfor %}

</article>

{% endblock %}